<div class="container">
<br>
<h4>All User Profiles</h4>
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Bro</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user_profiles.each do |user| %>
                    <tr>
                        <td><%= link_to user.name, user_profile_path(user)%></td>
                        <td><%= user.bio %></td>
                    <% end %>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
</div>

