<h1>All Books</h1>
<ul>
    <% @books.each do |book| %>
        <%= image_tag book.img_url %><br>
        <li><P>Title: </P><%= link_to book.title, book %></li><br>
        <li><P>By: </P><%= book.author.name %></li><br><hr>
    <% end %>

</ul>